.App {
    height: 100vh;
    width: 40vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.App * {
	font-size: 16px;
}

@media screen and (max-width: 1440px) {
	.App {
		width: 50vw;
	}
}
@media screen and (max-width: 1024px) {
	.App {
		width: 60vw;
	}
}
@media screen and (max-width: 672px) {
	.App {
		width: 75vw;
	}
	.App * {
		font-size: 12px;
	}
}
@media screen and (max-width: 432px) {
	.App {
		width: 90vw;
	}
}

.button {
	border: none;
	border-radius: 5px;
	background-color: bisque;
}
.button:hover {
	box-shadow: 0 1px 1px 0 rgb(235, 235, 235);
}

.btn-app {
	margin: 0 0 10px 0;
	padding: 10px 0;
}
.btn-app--counting {
	background-color: #fb8383;
}
