.Input {
	display: flex;
	justify-content: center
}
.Input__field {
	width: 48%;
	border: 0px;
	border-radius: 5px;
	background-color: #5b5b5b;
	padding: 5px;
	text-align: center;
	color: #fffadd;
}
.Input__separator {
	width: 2%;
	text-align: center;
}
