.Interval {
	display: flex;
	justify-content: space-between;
}
.Interval__elem {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.Interval__title::before {
	/* Center the svg icon child */
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.btn-input {
	padding-left: 10px;
	padding-right: 10px;
}
