.Interval {
	display: flex;
	justify-content: space-between;
	background: #4a4a4a;
	box-shadow: 1px 1px 1px 1px rgb(48, 48, 48);
    padding: 10px;
    border-radius: 5px;
}
.Interval--counting {
	box-shadow: 2px 2px 3px 2px rgb(48, 48, 48);
}
.Interval__title::before {
	/* Center the svg icon child */
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.Interval__title {
	margin: 0 7px 0 5px;
	cursor: pointer;
}
